{
  "presets": [
    "react",
    "stage-0",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": ["transform-runtime", "transform-decorators-legacy", "react-hot-loader/babel"],
  "comments": false
}
