.app {
  font-size: 1.5rem;
  text-align: center;

  header {
    padding: 60px 0 70px;
    color: #fff;
    background: #282c34;
  }

  code {
    color: red;
  }

  @media (min-width: 992px) {
    p {
      font-size: 2.4rem;
    }
  }

  @media (min-width: 768px) {
    p {
      font-size: 1.8rem;
    }
  }

  p {
    color: #9feaf9;
    font-size: 1.4rem;
    font-weight: 300;
  }

  .infoWrapper {
    padding: 0 1rem;

    > div {
      text-align: left;

      pre {
        word-break: break-word;
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 10px;
        font-size: 12px;
        padding: 12px 10px;
        border-radius: 5px;
        border-radius: 0;
        padding-top: 9px;
        overflow: auto;
      }
    }
  }
}
